.navbar-text a{
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideTop {
0% {
    transform: translateY(100px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}
}